<body>
	<div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome!</h1>
            <p>Here you can read all about <b>ME</b>! I hope that you like what you see, and maybe we can work together on cool projects sometime.  Click below to send me your email so that we can get in touch and discuss the arts.  It's of course not free, but it is definitely worth it. </p>

            <%= form_tag charges_path do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
                <label class="amount">
                  <span>Amount: $5.00</span>
                </label>
              </article>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="A month's subscription"
                      data-amount="500"
                      data-locale="auto"></script>
            <% end %>
        </header>
        <h3>Write a new Post!</h3>
        <h6>You must be <%= link_to "signed in", new_user_session_path %></h6>
        <p><%= link_to "New Post", new_post_path, class: "btn btn-success btn-large" %>
          <br>
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <% @posts.each do |x| %>
                <tr>
                  <td>
                    <p><%= link_to x.content, post_path(x.id) %></p>
                    <% if user_signed_in? && current_user.id == x.user_id %>
                      <%= link_to "Delete", post_path(x.id), method: :delete, data: {confirm: "Are you sure?"} %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tody>
          </table>
          
    </div>
</body>