<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Firstapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Firstapp" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <footer>
           <div class="row">
               <div class="text-center">
                   <p>All Rights Reserved 2016 and forever</p>
               </div>
           </div>
       </footer>
    </main>
  </body>
</html>
